<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.MiConexion" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;D:\marceloNoguera\programacionLaboratorioII\Visual Studio 2012\tp_laboratorio_2\tp_4\baseDeDatos\correo-sp-2017.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>